menu "Qwiic configuration"

    config QWIIC_SDA_PIN
        int "Specify the GPIO Pin to use for SDA on the Qwiic System"
        default 23
        help
            Pick the GPIO pin used for the SDA (serial data wire)

    config QWIIC_SCL_PIN
        int "Specify the GPIO Pin used for SCL on the Qwiic System"
        default 22
        help
            Pick the GPIO pin used for the SCL (serial clock wire)
    config QWIIC_CONTROLLER_FREQUENCY
            int "Controller Frequency"
            default 100000
            help
                I2C Speed of Qwiic Controller.
    config QWIIC_PORT_NUM
            int "Port Number"
            default 0
            help
                Port number for Qwiic Controller.

endmenu  # Qwiic configurations
